<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.team5.emergencyapp.firebasetest">
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CALL_PHONE"/>
    <uses-feature android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.hardware.usb.host" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.android.Activity_Splash"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".view.android.Activity_Contact">
        </activity>
        <activity
            android:name=".view.android.Activity_Message">
        </activity>
        <activity
            android:name=".view.android.Activity_AddGroup">
        </activity>
        <activity
            android:name=".view.android.Activity_SoundButton">
        </activity>
        <activity
            android:name=".view.android.Activity_Main"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".core.model.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
        <activity
            android:name=".core.model.SignupActivity">
        </activity>
        <activity
            android:name=".core.model.ResetPasswordActivity">
        </activity>
    </application>

</manifest>